@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.woff') format('woff');
}
header a {
    font-size: 14px;
    color: #CCC;
    text-decoration: none;
}
header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #AAA;
    position: fixed;
    top: 0px;
    width: 100vw;
}
header ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-content: space-between;
    width: 60vw;
    padding: 0px 25px;
    margin: 11px 0px 0px 0px;
}
li {
    margin: 2px;
    padding: 2px;
}
#manjaro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-image: url("../img/header.jpg");
    background-position: center;
    background-size: cover;
}
h1 {
    margin: 0px 0px 0px 15px;
    padding: 0px;
}
nav {
    margin: 0px 0px 10px 0px;
    padding: 0px;
}
section#manjaro a {
    display: block;
    padding: 15px 22px;
    text-decoration: none;
    font-size: 14px;
    color: #FFF;
    border-radius: 25px;
    background-color: rgb(52, 190, 91);
    font-weight: bold;
}
section#manjaro h2 {
    font-size: 35px;
    color: #FFF;
    font-weight: bold;
    margin-bottom: 60px;
}
section#manjaro p {
    color: #AAA;
    font-weight: bold;
    margin-bottom: 60px;
}
#about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(52, 190, 91);
    height: 70vh;
}
section#about h2 {
    font-size: 30px;
    color: #FFF;
    margin-bottom: 30px;
}
section#about p {
    width: 800px;
    text-align: center;
    color: #CCC;
    margin-bottom: 40px;
}
section#about a {
    display: block;
    padding: 15px 22px;
    text-decoration: none;
    font-size: 14px;
    color: #777;
    border-radius: 25px;
    background-color: #FFF;
    font-weight: bold;
}
#obtenManjaro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 30vh;
    background-color: #222;
}
section#obtenManjaro h2 {
    text-align: center;
    color: #FFF;
    margin-bottom: 20px;
}
section#obtenManjaro a {
    display: block;
    padding: 15px 22px;
    text-decoration: none;
    font-size: 14px;
    color: #111;
    border-radius: 25px;
    background-color: #FFF;
    font-weight: bold;
}
#services {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    height: 70vh;
}
section#services h2 {
    display: flex;
    margin-top: 48px;
    justify-content: center;
    width: 100vw;
}
section#services>article>h3::before{
    color: rgb(52, 190, 91);
    font-size:60px;
    margin: 10px;
    font-weight: lighter;
    font-family: 'FontAwesome';
    display: block;
}
section#services>article#pseudoElem1>h3::before{
    content: "\f219";
}
section#services>article#pseudoElem2>h3::before{
    content: "\f1d9";
}
section#services>article#pseudoElem3>h3::before{
    content: "\f1ea";
}
section#services>article#pseudoElem4>h3::before{
    content: "\f004";
}
section#services article {
    display: inline-block;
    font-size: 14px;
    margin: 10px;
    padding: 4px;
    text-align: center;
    width: 20vw;
}
#final {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 50vh;
    flex-wrap: wrap;
    font-size: 14px;
}
section#final h2 {
    display: flex;
    justify-content: center;
    width: 100vw;
    font-size: 25px;
}
section#final p{
    display:flex;
    width: 100vw;
    justify-content: center;
}
section#final ul{
    display: flex;
    list-style: none;
    width: 100vw;
    padding: 0px 150px;
    justify-content: center;
}
section#final a{
    text-decoration: none;
    margin: 120px;
    color: #000;
}
section#final>ul>li::before{
    color: #011;
    font-size:60px;
    margin: 10px;
    font-weight: lighter;
    font-family: 'FontAwesome';
    display: block;
    text-align: center;
}
section#final>ul>li#pseudoElem5::before{
    content: "\f09b";
}
section#final>ul>li#pseudoElem6::before{
    content: "\f003";
}
header a:hover {
    color: #EEE;
    font-weight: bolder;
}
